<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD Mongo</title>
</head>
<h1>
    funciona
</h1>

<body>
    <% for (var i = 0; i < noticias.length; i++) { %>
        <p><%= noticias[i].titulo %></p>
        <p><%= noticias[i].fecha %> <%= noticias[i].autor %></p>
        <p><%= noticias[i].contenido %></p>
        <h1>Comentarios</h1>
        <% for(var j = 0; j < noticias[i].comentarios.length;j++){ %>
            <p><%= noticias[i].comentarios[j].usuario %></p>
            <p><%= noticias[i].comentarios[j].fecha %></p>
            <p><%= noticias[i].comentarios[j].contenido %></p>
            <p>--------- </p>
        <%} %>

        <p>------------------------------------------------------</p>
    <%} %>
    
</body>
</html>